<div
  class="flex flex-col gap-4 w-screen p-2 fixed top-0 left-0 items-center h-screen pt-14 pb-16"
>
  <!-- Diseño -->
  <section class="grow flex flex-col max-w-3xl w-full px-2">
    <h2 class="text-xl">Elije el diseño</h2>
    <div class="bg-neutral grow rounded-2xl grid place-items-center">
      <div class="flex gap-3 flex-col items-center">
        @if (orderService.artwork()) {
          <img
            [src]="orderService.artwork()?.image_url"
            class="max-w-1/2"
            alt=""
          />
          <prt-button
            variant="secondary"
            label="Cambiar diseño"
            (btnClick)="openCatalogDialog()"
          />
        } @else {
          <span class="text-muted px-2 text-center">
            Selecciona un diseño para hacer el encargo
          </span>
          <prt-button label="Elegir diseño" (btnClick)="openCatalogDialog()" />
        }
      </div>
    </div>
  </section>

  <!-- Tamaño de maceta -->
  <section class="flex flex-col gap-1 max-w-3xl w-full px-2">
    <h2 class="text-xl">Tamaño de maceta</h2>
    <div class="bg-neutral rounded-2xl p-2 flex flex-col gap-3">
      <div>
        <span class="text-muted">Radio de la base</span>
      </div>
      <div class="flex gap-2">
        <prt-radio
          [options]="macetaOptions"
          [(selectedValue)]="selectedPotflower"
          (selectionChange)="onPotflowerChange($event)"
        />
      </div>
    </div>
  </section>

  <!-- Nombre del cliente -->
  <section class="flex flex-col gap-1 max-w-3xl w-full px-2">
    <h2 class="text-xl">Tu nombre</h2>
    <input
      type="text"
      class="p-4 focus:outline-none bg-neutral rounded-xl w-full"
      placeholder="Marta Gomez"
      [value]="orderService.client()"
      (input)="handleClientName($event)"
    />
  </section>

  <!-- Botón encargo -->
  <div class="w-full self-center flex max-w-3xl px-2 justify-center">
    <button
      class="rounded-xl text-xl flex p-4 px-8 items-center max-w-3xl w-full"
      [ngClass]="
        orderService.isValidOrder()
          ? 'bg-text text-dark'
          : 'bg-neutral text-muted'
      "
      [disabled]="!orderService.isValidOrder()"
      (click)="createOrder()"
    >
      <span class="grow">Encargar por WhatsApp</span>
      <i class="material-symbols-rounded text-xl">arrow_forward</i>
    </button>
  </div>
</div>

<app-carrousel
  [(isActive)]="isCarrouselOpen"
  [images]="sbService.flowerpotDesignArtworks()"
  [initialIndex]="0"
/>
